n8n_2_All_Settings_Revit_IFC_DWG_Conversation_simple.json
{
  "name": "n8n_2_All_Settings_Revit_IFC_DWG_Conversation_simple",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Revit File Converter",
        "formDescription": "Configure your Revit file conversion settings",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Path to Revit Converter (RvtExporter.exe)",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Revit File Path",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Export Mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "basic"
                  },
                  {
                    "option": "standard"
                  },
                  {
                    "option": "complete"
                  },
                  {
                    "option": "custom"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Conversion Options",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "bbox"
                  },
                  {
                    "option": "schedule"
                  },
                  {
                    "option": "sheets2pdf"
                  },
                  {
                    "option": "-no-xlsx"
                  },
                  {
                    "option": "-no-collada"
                  }
                ]
              },
              "multiselect": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        220,
        640
      ],
      "id": "4b82a293-4601-4fe2-a967-6584f6d0fa2c",
      "name": "Form UI",
      "webhookId": "simple-revit-converter-form"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        220
      ],
      "id": "5ca79042-b12d-440f-b5d0-95764bdadd93",
      "name": "Manual Trigger (Optional)"
    },
    {
      "parameters": {
        "content": "\n\n## ⚠️ Troubleshooting\n\n### Browser Popup Issues\nIf the form doesn't open:\n1. Look for a popup blocker icon in your browser's address bar\n2. Click it and select \"Always allow popups from this site\"\n3. Refresh the page and try again\n\n### Executable Path Issues\nIf conversion fails, ensure you're using the correct path:\n\n✅ **Correct path:**\n```\nC:\\DDC_Converter_Revit\\datadrivenlibs\\RvtExporter.exe\n```\n\n❌ **Incorrect path:**\n```\nC:\\Community\\DDC_Converter_Revit\\RvtExporter.ex",
        "height": 540,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        820
      ],
      "typeVersion": 1,
      "id": "363474f1-3f18-4777-b043-a114d397810f",
      "name": "Instructions"
    },
    {
      "parameters": {
        "executeOnce": "=",
        "command": "=\"{{$json[\"path_to_revit_converter\"]}}\" \"{{$json[\"revit_file\"]}}\" {{ $json['(optional) Export mode (basic, standard, complete, custom) '] }} {{ $json['(optional) Add the BoundingBox geometry of each element in XLSX '] }} {{ $json['(optional) Export all Schedules '] }} {{ $json['(optional) Export all Sheets to PDF'] }} {{ $json['(optional) Disable export to ']['xlsx format'] }} {{ $json['(optional) Disable export to ']['dae format '] }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "id": "98548c87-95e9-42da-ac4d-e51576790bbd",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbd4ec9-df24-41e8-b47a-720a4cdb733b",
              "name": "path_to_revit_converter",
              "value": "C:\\DDC\\DDC_Converter\\Release\\Community\\DDC_Converter_Revit_Community\\DDC_Converter_Revit_Community\\RvtExporter.exe",
              "type": "string"
            },
            {
              "id": "aa834467-80fb-476a-bac1-6728478834f0",
              "name": "revit_file",
              "value": "C:\\DDC\\DDC_Converter\\Release\\Community\\DDC_Converter_Revit_Community\\RVT_sample\\2023 racbasicsampleproject.rvt",
              "type": "string"
            },
            {
              "id": "c3939399-e855-44a7-bb47-83dbb1e85e4f",
              "name": "(optional) Export mode (basic, standard, complete, custom) ",
              "value": "basic",
              "type": "string"
            },
            {
              "id": "748a7f80-f0cb-4147-bb22-6f88818c5a63",
              "name": "(optional) Add the BoundingBox geometry of each element in XLSX ",
              "value": "bbox",
              "type": "string"
            },
            {
              "id": "75f4016f-f04e-48ae-aae6-c231a5cc69aa",
              "name": "(optional) Export all Schedules ",
              "value": "schedule",
              "type": "string"
            },
            {
              "id": "bfbbccdb-e781-47fd-8e84-107f1ef57460",
              "name": "(optional) Export all Sheets to PDF",
              "value": "sheets2pdf",
              "type": "string"
            },
            {
              "id": "acc49689-ab70-4620-87ca-309ed90c0acd",
              "name": "(optional) Disable export to .xlsx format",
              "value": "-no-xlsx",
              "type": "string"
            },
            {
              "id": "bcbb4a29-c290-4ca4-b71b-1df755a14458",
              "name": "(optional) Disable export to .dae format ",
              "value": "-no-collada",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        220
      ],
      "id": "a65666b6-fd9d-493d-af71-cde4026c4cfa",
      "name": "Set the conversion variables"
    },
    {
      "parameters": {
        "content": "### Option 1: Form UI (Recommended)\n- Click **\"Form UI\"** to open the web form\n- Fill in your converter path and Revit file path\n- Select export mode and options\n- **⚠️ Browser Popup Notice**: If your browser blocks the popup window, click the popup blocker icon in the address bar and select \"Always allow popups from this site\"",
        "height": 360,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        440
      ],
      "id": "b0d1d864-e0b4-40f0-917f-f242dc4d3e22",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Option 1: Manual Variables (Optional)\n- Click **\"Manual Trigger\"** to use pre-configured variables\n- Modify the variables in the **\"Set Variables\"** node as needed\n\n## 🔧 Configuration\n- Update the **RvtExporter.exe** path in the form or variables\n- Ensure the path points to the executable inside the **`datadrivenlibs`** folder",
        "height": 420,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1dce16f6-3f75-4e83-b13e-3e487eb90903",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "⭐ **If you find our tools helpful, please consider starring our repository on [GitHub](https://github.com/datadrivenconstruction/cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto). Your support helps us improve and continue developing open solutions for the community!**\n",
        "height": 100,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -120
      ],
      "id": "9e319bee-67b8-4006-b736-16d3d6080897",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Optional)": {
      "main": [
        [
          {
            "node": "Set the conversion variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the conversion variables": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "075abc5f-42e6-4bcf-b9c4-70cda239f65c",
  "meta": {
    "instanceId": "faa70e11b7175129a74fd834d3451fdc1862589b16d68ded03f91ca7b1ecca12"
  },
  "id": "Hg6dClNKLx174ZDL",
  "tags": []
}