n8n_2_All_Settings_Revit_IFC_DWG_Conversation_simple.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Revit File Converter",
        "formDescription": "Configure your Revit file conversion settings",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Path to Revit Converter (RvtExporter.exe)",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Revit File Path",
              "fieldType": "string",
              "requiredField": true
            },
            {
              "fieldLabel": "Export Mode",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "basic"
                  },
                  {
                    "option": "standard"
                  },
                  {
                    "option": "complete"
                  },
                  {
                    "option": "custom"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Conversion Options",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "bbox"
                  },
                  {
                    "option": "schedule"
                  },
                  {
                    "option": "sheets2pdf"
                  },
                  {
                    "option": "-no-xlsx"
                  },
                  {
                    "option": "-no-collada"
                  }
                ]
              },
              "multiselect": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        224,
        768
      ],
      "id": "eee1c094-2e63-4777-bc50-0f7802a25911",
      "name": "Form UI",
      "webhookId": "simple-revit-converter-form"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        352
      ],
      "id": "f8300b0b-58bd-43cf-8df7-9e37fe509f61",
      "name": "Manual Trigger (Optional)"
    },
    {
      "parameters": {
        "content": "\n\n## ⚠️ Troubleshooting\n\n### Browser Popup Issues\nIf the form doesn't open:\n1. Look for a popup blocker icon in your browser's address bar\n2. Click it and select \"Always allow popups from this site\"\n3. Refresh the page and try again\n\n### Executable Path Issues\nIf conversion fails, ensure you're using the correct path:\n\n✅ **Correct path:**\n```\nC:\\DDC_Converter_Revit\\datadrivenlibs\\RvtExporter.exe\n```\n\n❌ **Incorrect path:**\n```\nC:\\Community\\DDC_Converter_Revit\\RvtExporter.ex",
        "height": 540,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        944
      ],
      "typeVersion": 1,
      "id": "a6fe4bcf-88bb-45fe-8f7d-92b9bb741bbe",
      "name": "Instructions"
    },
    {
      "parameters": {
        "executeOnce": "=",
        "command": "=\"{{$json[\"path_to_revit_converter\"]}}\" \"{{$json[\"revit_file\"]}}\" {{ (() => {\n    if ($json['(optional) output_folder'] != null) {\n        const folder = $json['(optional) output_folder'];\n        const file = $json['revit_file'].split(\"\\\\\").slice(-1)[0];\n        const xlsx = folder + \"\\\\\" + file.replace(/\\.rvt$/i, '_rvt.xlsx');\n        const dae  = folder + \"\\\\\" + file.replace(/\\.rvt$/i, '_rvt.dae');\n        return '\"' + xlsx + '\"' + \" \" + '\"' + dae + '\"';\n    }\n    return \"\";\n})() }} {{ $json['(optional) Export mode (basic, standard, complete, custom) '] }} {{ $json['(optional) Add the BoundingBox geometry of each element in XLSX '] }} {{ $json['(optional) Export all Schedules '] }} {{ $json['(optional) Export all Sheets to PDF'] }} {{ $json['(optional) Disable export to ']['xlsx format'] }} {{ $json['(optional) Disable export to ']['dae format '] }} \n\n\n\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        704,
        528
      ],
      "id": "6e76a943-1eab-475a-9e2c-954c11c299cc",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbd4ec9-df24-41e8-b47a-720a4cdb733b",
              "name": "path_to_revit_converter",
              "value": "C:\\out\\packages\\community\\RvtConverter\\datadrivenlibs\\RvtExporter.exe",
              "type": "string"
            },
            {
              "id": "aa834467-80fb-476a-bac1-6728478834f0",
              "name": "revit_file",
              "value": "C:\\Users\\ars\\source\\repos\\nobimconverter\\sample_files\\sample.rvt",
              "type": "string"
            },
            {
              "id": "c3939399-e855-44a7-bb47-83dbb1e85e4f",
              "name": "(optional) Export mode (basic, standard, complete, custom) ",
              "value": "basic",
              "type": "string"
            },
            {
              "id": "748a7f80-f0cb-4147-bb22-6f88818c5a63",
              "name": "(optional) Add the BoundingBox geometry of each element in XLSX ",
              "value": "bbox",
              "type": "string"
            },
            {
              "id": "75f4016f-f04e-48ae-aae6-c231a5cc69aa",
              "name": "(optional) Export all Schedules ",
              "value": "schedule",
              "type": "string"
            },
            {
              "id": "bfbbccdb-e781-47fd-8e84-107f1ef57460",
              "name": "(optional) Export all Sheets to PDF",
              "value": "sheets2pdf",
              "type": "string"
            },
            {
              "id": "acc49689-ab70-4620-87ca-309ed90c0acd",
              "name": "(optional) Disable export to .xlsx format",
              "value": "-no-xlsx",
              "type": "string"
            },
            {
              "id": "bcbb4a29-c290-4ca4-b71b-1df755a14458",
              "name": "(optional) Disable export to .dae format ",
              "value": "-no-collada",
              "type": "string"
            },
            {
              "id": "b513c17c-a174-44cf-b935-36b3855624ba",
              "name": "(optional) output_folder",
              "value": "C:\\Users\\ars\\source\\repos\\DataDrivenConstruction\\test\\sample_files\\test",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        352
      ],
      "id": "7039874d-c2c1-4fcd-94cf-da5ee1df4da6",
      "name": "Set the conversion variables"
    },
    {
      "parameters": {
        "content": "### Option 1: Form UI (Recommended)\n- Click **\"Form UI\"** to open the web form\n- Fill in your converter path and Revit file path\n- Select export mode and options\n- **⚠️ Browser Popup Notice**: If your browser blocks the popup window, click the popup blocker icon in the address bar and select \"Always allow popups from this site\"",
        "height": 360,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        560
      ],
      "id": "5ad55e0d-eca8-4b6f-bde5-99a2d7224899",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Option 1: Manual Variables (Optional)\n- Click **\"Manual Trigger\"** to use pre-configured variables\n- Modify the variables in the **\"Set Variables\"** node as needed\n\n## 🔧 Configuration\n- Update the **RvtExporter.exe** path in the form or variables\n- Ensure the path points to the executable inside the **`datadrivenlibs`** folder",
        "height": 420,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        128
      ],
      "id": "64db75fa-31b4-4be0-b324-be4eb7321647",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "⭐ **If you find our tools helpful, please consider starring our repository on [GitHub](https://github.com/datadrivenconstruction/cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto). Your support helps us improve and continue developing open solutions for the community!**\n",
        "height": 100,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e3367dc2-cf8d-4561-8219-e10dcf114c0c",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Optional)": {
      "main": [
        [
          {
            "node": "Set the conversion variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the conversion variables": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffb36fd2-8fd1-4f2f-9b02-fb8e796dacd6",
  "meta": {
    "instanceId": "4606903ea35d7d8134a268a05a1d0a85b26c459f46c2bbc2d02181e8fe1cdaaa"
  },
  "id": "2j4eAd0FpJjinfPh",
  "tags": []
}