Revit_Conversation_with_n8n_simple_with_comments.json
{
  "name": "Revit_Conversation_with_n8n_simple_with_comments",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        760,
        -400
      ],
      "id": "b38fcfcc-424b-4cc3-87bd-3111ee92a615",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "executeOnce": "=",
        "command": "=\"{{$json[\"path_to_revit_converter\"]}}\" \"{{$json[\"revit_file\"]}}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1320,
        -400
      ],
      "id": "1ddcb513-0312-4ac2-988c-dfc331a26806",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbd4ec9-df24-41e8-b47a-720a4cdb733b",
              "name": "path_to_revit_converter",
              "value": "C:\\DDC\\DDC_Converter\\Release\\Community\\DDC_Converter_Revit_Community\\DDC_Converter_Revit_Community\\RvtExporter.exe",
              "type": "string"
            },
            {
              "id": "aa834467-80fb-476a-bac1-6728478834f0",
              "name": "revit_file",
              "value": "C:\\DDC\\DDC_Converter\\Release\\Community\\DDC_Converter_Revit_Community\\RVT_sample\\2023 racbasicsampleproject.rvt",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -400
      ],
      "id": "ea9c17e2-ac3b-43cb-82a4-1d6b05ac447c",
      "name": "Set"
    },
    {
      "parameters": {
        "content": "### 2. **Set Variables – Converter Path & File**\nManually set the following paths:\n- `path_to_converter`: Full path to the converter executable.\n- `source_file`: Full path to the CAD file you want to convert.\n\n",
        "height": 440,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -640
      ],
      "typeVersion": 1,
      "id": "3ef697f2-d5db-4fdf-ab20-93758f560df8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 🔁 Revit / IFC / AutoCAD File Conversion Workflow (n8n)\nThis **n8n workflow** enables automated conversion of CAD files (such as `.rvt`, `.ifc`, `.dwg`) using command-line converters on a local Windows machine.\n\n## ✅ Powered by DataDrivenConstruction — no Autodesk® tools, no APIs\nThis workflow leverages open, scriptable tools integrated via n8n, allowing you to:\n\n🔓 Convert proprietary formats like Revit® (.rvt) or AutoCAD® (.dwg) without requiring Autodesk® software\n🚫 Avoid unstable or restricted API integrations\n🖥️ Run everything locally — no vendor lock-in, no cloud dependencies\n📊 Output structured XLSX metadata and DAE (Collada) geometry\n",
        "height": 1240,
        "width": 860,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -940
      ],
      "typeVersion": 1,
      "id": "af65b950-9afa-4d76-9065-bfde49ba614f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "### 3. Execute Command – Automated Conversion\nn8n uses the values from the previous step to run the converter via CMD.\n\nThe converter is executed with the input file. The output is generated and saved in the same or predefined directory.",
        "height": 440,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        -640
      ],
      "typeVersion": 1,
      "id": "e74b016b-b508-4320-b1d9-3d71ffc52dee",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### 1. **Trigger – Manual Start**\nThe workflow begins when the user clicks the “Test workflow” button in n8n.",
        "height": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        -640
      ],
      "typeVersion": 1,
      "id": "404ddd36-4ccd-470b-bdc1-64a7bfa428ff",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "🔧 Example variables for Revit to Excel conversion:\n```text\npath_to_converter: C:\\Converters\\RvtExporter.exe\nsource_file:       C:\\Projects\\MyModel.rvt\n```\nVariables for IFC to Excel conversion:\n```text\npath_to_converter: C:\\Converters\\IfcExporter.exe\nsource_file:       C:\\Projects\\Model.ifc\n```\nVariables for DWG to Excel conversion:\n```text\npath_to_converter: C:\\Converters\\DwgExporter.exe\nsource_file:       C:\\Projects\\Project.dwg\n```",
        "height": 460,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -180
      ],
      "typeVersion": 1,
      "id": "d856b66a-0ef8-407a-a2d4-355ea9443fd6",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "### The result output includes:\n\n- 🧾 **Full metadata** exported to `.XLSX` format  \n  → Contains element IDs, categories, parameters, and properties\n\n- 🧱 **Polygonal geometry** exported to `.DAE` (Collada) format  \n  → Suitable for 3D viewing (also OSS), web applications, or further processing\n\nEach element in the converted files (from **Revit** or **IFC**) is:\n- Uniquely identified by an **element ID**\n- Matched with its corresponding **polygonal geometry**",
        "height": 460,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        -180
      ],
      "typeVersion": 1,
      "id": "a7c9b9a0-2b05-48d7-99f3-4e087a754c31",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd8dac50-0018-4441-9204-6d0884da7ef5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ba872643a08525d217680a9bbff49bd9855bd3fe8ccba4458b363643e613bee"
  },
  "id": "Ekrs8Mln7dpbLGp7",
  "tags": []
}